<div class="c-generic-info-content c-info-extense-content">

    <div class="c-extense-content">

        <p>Recuerda que siempre nos podrás contactar por nuestras redes sociales, teléfono y correo electrónico
            para resolver cualquier duda o consulta
        </p>

        <p class="font-weight-bold">¿Porque no puedo cancelar el préstamo de un libro que no he recogido?</p>

        <p>Para evitar el posible mal uso de la opción, para cancelarlo, tendrás que contactar con nosotros,
            ya sea por teléfono, correo electrónico, mensaje privado a las redes sociales
            o personándote en la biblioteca.
            En caso de no cancelarlo y no recoger el libro, se podrá denegar el préstamo
            de libros al usuario por unos días.
            Es posible que en el futuro está funcionalidad sea modificada.
        </p>

        <p class="font-weight-bold">¿Que pasa si expira el plazo para recoger un libro prestado?</p>

        <p>El préstamo será cancelado lo antes posible y es probable que se deniegue al usuario el préstamo de libros
            por unos días
        </p>

        <p class="font-weight-bold">¿Como puedo renovar el préstamo de un libro?</p>

        <p>Desgraciadamente, es una funcionalidad que no tenemos disponible en este momento, tendrás que
            contactar con la biblioteca para realizar la renovación de tu préstamo, ya sea por teléfono, correo
            electrónico, mensaje privado a las redes sociales o personándote en la biblioteca.
            Recuerda que si el libro se encuentra en lista de espera, no podrás renovar su préstamo.
        </p>

    </div>

</div>