<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->

        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
          <h5>LibroApp</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#" [routerLink] = "['/about-us']" class="text-dark">Sobre nosotros</a>
            </li>
            <li>
              <a href="#"  [routerLink] = "['/online-chat']" class="text-dark">Atención por chat en línea</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
          <h5 class="mb-0">Contacto</h5>
  
          <ul class="list-unstyled">
            <li>
              Calle Cultura 12, Madrid, España
            </li>
            <li>
             91 111 22 33
            </li>
            <li>
              libroapp@cultura.com
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
          <h5 class="mb-0">Redes sociales</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="https://twitter.com/" class="text-dark">Twitter</a>
            </li>
            <li>
             <a href="https://es-es.facebook.com/" class="text-dark">Facebook</a>
            </li>
            <li>
              <a href="https://www.instagram.com/" class="text-dark">Instagram</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <span>LibroApp, todos los derechos reservados</span>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->