<div class="c-generic-info-content c-info-extense-content">

    <div class="c-extense-content">

        <p>Somos el equipo de la biblioteca y ponemos esta página web de la biblioteca,
            a disposición de cualquier usuario para, entre otras acciones,
            poder consultar el catálogo, y que además permite a los usuarios de la
            biblioteca poder gestionar sus préstamos y sus listas de espera, además de consultar
            sus propios libros prestados y en las listas de espera que se encuentran disponibles
            y las fechas relevantes de estos dos procesos.
        </p>

    </div>

</div>