<div class="c-generic-info-content c-info-extense-content">

    <div class="c-extense-content">

        <p class = "font-black">Somos el equipo de la biblioteca y proporcionamos esta página web de la biblioteca,
            a disposición de cualquier usuario para, entre otras acciones:</p>

            <p> - Consultar el catálogo de libros disponible</p>

            <p> - Filtrar los resultados de libros disponibles, por título, autor...</p>

        <p>Además con la cuenta de usuario de la biblioteca, se podrán realizar estas acciones: </p>

            <p> - Gestionar préstamos y listas de espera</p>

            <p> - Consultar fechas relevantes de préstamos y de listas de espera</p>

    </div>

</div>