.c-confirm-or-cancel{

    display: flex;

    flex-direction: column;

    height: 140px;

    justify-content: space-around;

    align-items: center;

}

.c-close{
    
    margin: 0 auto;
}


@media (min-width: 768px){

    .c-confirm-or-cancel{

        height: auto;

        flex-direction: initial;

        justify-content: initial;

        align-items: initial;
        
    }

    .c-confirm{

        margin-right: auto;
    
        
    }

    .c-cancel{

        margin-left: auto;
    
    }
    
}