<nav class="navbar navbar-expand-sm navbar-light bg-light">

    <a class="navbar-brand" href="#">LibroApp</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <a class="nav-item nav-link active" href="#" routerLink="/index">Buscar Libros<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#" routerLink="/library-info">La Biblioteca</a>
      <a class="nav-item nav-link" href="#" routerLink="/faq">Preguntas frecuentes</a>
      <a class="nav-item nav-link" *ngIf = "user !== null"
      routerLink="/my-books">Mis libros</a>

    </div>

    <div *ngIf="!authenticated; then thenBlock else elseBlock"></div>

    <ng-template #thenBlock>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">

      <a class="nav-item nav-link" href="#" routerLink="/register" routerLinkActive="active">Registrarse</a>
      <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Iniciar sesión</a>

    </div>

  </ng-template>

  <ng-template #elseBlock>

    

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">

        <a class = "nav-item nav-link">Hola {{username}}</a>
        <a class="nav-item nav-link" href="#" (click)="closeSession()">Cerrar sesión</a>
        
  
      </div>

  </ng-template>
    
            <!--


            <div class="navbar-header">
                <p>WebSiteName</p>
            </div>

            <ul>

                <li>Search Books</li>
                <li>Rooms</li>
                <li>My Books</li>
                <li>Library info</li>

            </ul>

            -->

            <!--

            <ul>

                <li>Register</li>
                <li>Login</li>

            </ul>

            <ul>

                <li>Logout</li>
            </ul>

            -->

     


   

</nav>