<nav class="navbar navbar-expand-md navbar-light bg-light">

  <div class = "c-left-mobile-section" (click) = "visibilityLinksNavBarMobile()">

    <a class="navbar-brand">LibroApp</a>

    <fa-icon class = "icon-bar" [icon]="faBars"></fa-icon>

  </div>

  <div class = "c-right-mobile-section" (click) = "visibilityUserNavBarMobile()">

    <fa-icon class = "icon-user" [icon]="faUser" ></fa-icon>

  </div>

    <div 
    [ngClass] = "{'hide-navlinks-mobile': !showNavBarLinksMobile}" 
    class="navbar-collapse navbar-expand c-library-options" (click) = "hideLinksMobile()">

      <a class="nav-item nav-link active" href="#" 
      routerLink="/index">Buscar Libros<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#" routerLink="/library-info">La Biblioteca</a>
      <a class="nav-item nav-link" href="#" routerLink="/faq">Preguntas frecuentes</a>

    </div>

    <div *ngIf="!authenticated; then thenBlock else elseBlock"></div>

    <ng-template #thenBlock>

    <div [ngClass] = "{'hide-user-mobile': !showNavBarUserMobile}" 
    class="navbar-collapse navbar-expand c-user-options" (click) = "hideLinksMobile()">

      <a class="nav-item nav-link" href="#" routerLink="/register" routerLinkActive="active">Registrarse</a>
      <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Iniciar sesión</a>

    </div>

  </ng-template>

  <ng-template #elseBlock>

    

    <div [ngClass] = "{'hide-user-mobile': !showNavBarUserMobile}" 
    class="navbar-collapse navbar-expand c-user-options" (click) = "hideLinksMobile()">

        <a class ="nav-item nav-link c-user-logged">Hola {{username}}</a>
        <a class="nav-item nav-link" *ngIf = "user !== null"
      routerLink="/my-books">Mis libros</a>
        <a class="nav-item nav-link" href="#" (click)="closeSession()">Cerrar sesión</a>
        
  
      </div>

  </ng-template>
    
</nav>