<div class="my-books">

    <div class="c-book-list">

        <p class="description">Libros prestados (máximo 6 libros)</p>

        <ng-container *ngIf="loans.length === 0; else showLoans">

            <p>Esta cuenta no tiene ningún libro prestado en este momento</p>

        </ng-container>

        <ng-template #showLoans>

            <section class="c-section-loans">

                <table class="table">

                    <thead>

                        <tr>

                            <th scope="col">Título</th>
                            <th scope="col">Fecha préstamo</th>
                            <th scope="col">Fecha máxima recogida</th>
                            <th scope="col">Fecha máxima devolución</th>
                            <th scope="col">Detalles libro</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr *ngFor="let loan of loans">

                            <td>{{loan.book.name}}</td>

                            <td>{{loan.timestamp | date:'dd/MM/yy HH:mm:ss'}}</td>

                            <ng-container *ngIf="loan.maximumPickedUpDate === null; else AlreadyPickedUp">

                                <td>Ya recogido</td>

                            </ng-container>

                            <ng-template #AlreadyPickedUp>

                                <td>{{loan.maximumPickedUpDate | date:'dd/MM/yy HH:mm:ss'}}</td>

                            </ng-template>

                            <td>{{loan.maximumReturnDate | date:'dd/MM/yy HH:mm:ss'}}</td>

                            <td (click)="showDetailsBookLoaned(loan.book.id)">Pulsa para ver detalles</td>

                        </tr>

                    </tbody>

                </table>

                <div class="c-book-info c-book-details" 
                [ngClass]="{'c-book-details-active': showDetailsLoanedBook}">
                    <app-book-details *ngIf="loanedBooks.length !== 0 && indexArrayBooksLoaned !== -1"
                        [books]="loanedBooks"
                        [indexArrayBooks]="indexArrayBooksLoaned" 
                        (showDetailsCloseEvent)="showDetailsOnLoanBookClose($event)">
                    </app-book-details>
                </div>

            </section>

        </ng-template>

        <p class="description">Listas de espera (máximo 6 libros)</p>

        <ng-container *ngIf="reservations.length === 0; else showReservation">

            <p>Esta cuenta no tiene ningún libro en lista de espera en este momento</p>

        </ng-container>

        <ng-template #showReservation>

            <section class="c-section-reservations">

                <table class="table">

                    <thead>

                        <tr>

                            <th scope="col">Título</th>
                            <th scope="col">Fecha solicitud</th>
                            <th scope="col">¿Eliminar solicitud?</th>
                            <th scope="col">Detalles libro</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr *ngFor="let reservation of reservations">

                            <td>{{reservation.book.name}}</td>

                            <td>{{reservation.timestamp | date:'dd/MM/yy HH:mm:ss'}}</td>

                            <td class = "c-cursor-pointer"
                                (click)="removeReservation(reservation.book.id)">Eliminar solicitud</td>

                            <td 
                            (click)="showDetailsBookReservated(reservation.book.id)">Pulsa para ver detalles</td>

                        </tr>

                    </tbody>

                </table>

                <div class="c-book-info c-book-details"
                    [ngClass]="{'c-book-details-active': showDetailsReservatedBook}">
                    <app-book-details *ngIf="reservatedBooks.length !== 0 && indexArrayBooksReservated !== -1"
                        [books]="reservatedBooks" [indexArrayBooks]="indexArrayBooksReservated"
                        (showDetailsCloseEvent)="showDetailsOnReservationBookClose($event)">
                    </app-book-details>
                </div>

            </section>

        </ng-template>

    </div>

</div>