*{

    overflow-x: hidden; /* avoid width to become higher than 100% */
}

.c-section-loans, .c-section-reservations{

    display: flex;

    & > table,div{

        height: 100%;
        
    }
}

p.description{

    font-weight: 600;
    text-align: center;

}

div.c-book-list, div.c-table-wrapper{

    flex-grow: 1;

}

div.my-books{

    margin: 4px;
    display: flex;

}

// .c-book-info > *{

//     padding: 10px;
//     justify-self: center;

// }

.c-book-details-loaned, .c-book-details-reservated{

    display: none;
    position: relative; /* aligns the X button */
    padding: 20px;
 
 }

 .c-book-details-loaned{

    margin-top: 32px;
 }

 .c-book-details-reservated{

    margin-top: 12px;
 }

 table.c-book-table-results-details-active, p.c-book-table-results-details-active{

    display: none;

 }


div.c-book-details-active{

    display: initial;
    width: 100%;
 
 }

.c-table-wrapper{

    overflow-x: auto;
}

@media (min-width: 768px){

    p.description{

        text-align: initial;
    }

    div.my-books{

        margin: 20px;    
    }

}

.c-description-details{

    font-weight: 600;
    text-align: left;
    padding-left: 20px;
}

/* For desktop devices */

@media (min-width: 992px){

    table.c-book-table-results-details-active
    
    {

        display: initial;
    }

    p.c-book-table-results-details-active{

        display: inherit;
    }

    .c-description-details{

        display: none;
    }

    div.c-book-details-active{

        width: 70%; // it needs less space than 100%
     
     }

}


/* special case, keep aligned table with content */
@media (min-width: 1266px){

    .c-book-details-loaned{

        margin-top: 8px;
    }


}