.c-section-loans, .c-section-reservations{

    display: flex;

    & > table,div{

        height: 100%;
        
    }
}

p.description{

    font-weight: 600;
    text-align: center;

}

div.c-book-list{

    flex-grow: 1;

}

div.my-books{

    margin: 4px;
    display: flex;

}

// .c-book-info > *{

//     padding: 10px;
//     justify-self: center;

// }

.c-book-details{

    display: none;
    position: relative;
    padding: 20px;
    margin-top: 33px;

    & > * + *{

        padding: 40px !important;
        padding-top: 45px !important;
    }
 
 }

.c-book-details-active{

    display: initial;
    width: 100%;
 
 }

@media (min-width: 768px){

    p.description{

        text-align: initial;
    }

    div.my-books{

        margin: 20px;    
    }

}

@media (min-width: 992px){


}