<p>Proporciona caracteres del título o del autor de la obra para iniciar búsqueda</p>
<form>
<label for="fname">Título</label><br>
<input type="text" class = "form-control c-input-title" 
id="ftitle" name="ftitle" [(ngModel)] = "selectedTitleSubString"><br>

<label for="fname">Escrito por</label><br>
<input type="text" class = "form-control c-input-author" 
id="fauthor" name="fauthor" [(ngModel)] = "selectedAuthorName"
(keyup)="getAuthorsBySubtring(selectedAuthorName)"><br>

<table class="table table-bordered c-author" *ngIf = "showAuthorDropdown">
  <tr *ngFor = "let author of authors" (click)="selectAuthor(author.id,author.name)">
    <td>
      {{author.name}}
    </td>
  </tr>
</table>

<button type="submit" (click)="getBooksByParams()" (submit)="getBooksByParams()">Buscar</button> 

<label for="cars">Categorías</label>

<select class = "form-control c-form" name="cars" id="cars" [(ngModel)] = "selectedCategoryId">
  <option class = "form-control" *ngFor = "let category of categories" [value]="category.id">{{category.name}}</option>
</select> 

<label for="cars">Subcategorías</label>
<select class = "form-control c-form" name="cars" id="cars" [(ngModel)] = "selectedSubcategoryId">
  <option *ngFor = "let subcategory of subcategories" 
  [value]="subcategory.id">{{subcategory.name}}</option>
</select> 

<p *ngIf = "books.length === 0">No hay resultados, pruebe variando los filtros de búsqueda</p>

<table class = "table">
    <tr *ngFor="let book of books">
      <td class = "d-flex flex-row c-book-details">
              <img src = '/assets/book_pictures/{{book.imageUrl}}' alt = "Portada no disponible">
              
              <p>
             <span class = "c-title">{{book.name}}</span> <br>
             {{book.author.name}} <br>
              <ng-template *ngIf = "book.canBeLoaned">Disponible para préstamo, 
                  hay {{ book.numberCopies - book.numberLoaned}} ejemplar/es disponibles</ng-template>
              <ng-template *ngIf = "! book.canBeLoaned">Préstamo con lista de espera</ng-template>
              <br>
              <span class = "c-book-link">Pulse aquí para más detalles y opciones de préstamo</span>
              </p>
              
    </td>
      </tr>
      </table>
      

    </form>


<!-- <table class = "table">
    <tr *ngFor="let book of books">
      <td>
              <p>Título: {{book.name}}</p>
              <p>Género: {{book.category.name}}</p>
              <p>Subgénero: {{book.subcategory.name}}</p>
              <p>Autor: {{book.author.name}}</p>
              <p>Descripción: {{book.description}}</p>
              <p *ngIf = "book.canBeLoaned">Disponible para préstamo, 
                  hay {{ book.numberCopies - book.numberLoaned}} ejemplar/es disponibles</p>
              <p *ngIf = "! book.canBeLoaned">Préstamo con lista de espera</p>
    </td>
      </tr>
  </table> -->