.c-book-details > *{

    padding: 10px;
    justify-self: center;

}

img{

    height: 173px;
    width: 114px;
}

.c-title{

    color: #3d6e94;
    font-weight: 600;
}

.c-book-link{
    
    cursor: pointer;
}
