<div class="c-info-search">
  <p>Proporciona como mínimo caracteres del título o del autor de la obra para iniciar búsqueda</p>
</div>
<form>
  <div class="c-group-field">
    <div class="c-field">
      <label for="fname">Título</label><br>
      <div class="input-group">
        <input type="text" class="form-control" id="ftitle" name="ftitle" [(ngModel)]="selectedTitleSubString">
        <div class="input-group-append">
          <button class="btn btn-secondary" (click)="triggerSearch()" type="button">
            <fa-icon [icon]="searchIcon"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="c-field">
      <label for="fname">Escrito por</label><br>
      <div class="input-group">
        <input type="text" class="form-control" id="fauthor" name="fauthor" autocomplete="off"
          [(ngModel)]="selectedAuthorName" (keyup)="getAuthorsBySubtring(selectedAuthorName)">
        <div class="input-group-append">
          <button class="btn btn-secondary" (click)="removeAuthor()" type="button">
            <fa-icon [icon]="eraserIcon"></fa-icon>
          </button>
        </div>
      </div>


      <br>

      <div class="c-author-container">
        <table class="table table-bordered c-author" *ngIf="showAuthorDropdown">
          <tr *ngFor="let author of authors" (click)="selectAuthor(author.id,author.name)">
            <td>
              {{author.name}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="c-group-field">
    <div class="c-field">
      <label for="cars">Formato</label>

      <select class="form-control c-form" name="cars" id="cars" [(ngModel)]="selectedCategoryId"
        (change)="triggerSearch()">
        <option class="form-control" *ngFor="let category of categories" [value]="category.id"> {{category.name}}
        </option>
      </select>

    </div>
    <div class="c-field">
      <label for="cars">Género</label>
      <select class="form-control c-form" name="cars" id="cars" [(ngModel)]="selectedSubcategoryId"
        (change)="triggerSearch()">
        <option *ngFor="let subcategory of subcategories" [value]="subcategory.id"> {{subcategory.name}}
        </option>
      </select>
    </div>
  </div>

</form>

<div class="c-warn-searching" *ngIf="books.length === 0 || noAuthorAndNoTitleError">

  <p *ngIf="searchPerformed && books.length === 0 && !noAuthorAndNoTitleError">
    No hay resultados, pruebe variando los filtros de búsqueda</p>

  <p *ngIf="noAuthorAndNoTitleError"> Por favor proporciona caracteres en el campo título
    o seleccione un autor en el campo autor después de proporcionar caracteres </p>

  <p *ngIf="!searchPerformed"> Aquí podrás visualizar los resultados de la búsqueda </p>

</div>

<div *ngIf="showSpinner" class="spinner-border c-spinner d-flex justify-content-center align-items-center">

</div>
<div class="c-book-content">
  <div class="c-book-search" [ngClass]="{'c-book-search-details-active':showDetails}">

    <div class="row c-result-table" *ngIf="books.length !== 0">

      <div class="col col-md-10 offset-md-1 col-lg-6 offset-lg-3">

        <table class="table">
          <tr *ngFor="let book of books">
            <td class="d-flex flex-row c-book-info">
              <img src='/assets/book_pictures/{{book.imageUrl}}' alt="Portada no disponible">

              <div>
                <p>
                  <span class="c-title">{{book.bookName}}</span><br>
                  <span class="c-author">{{book.author.name}}<br></span>
                  <span class="c-sub-categories">{{book.category.name}} - {{book.subcategory.name}}</span>
                </p>
                <!-- Show message available for loan -->
                <ng-container *ngIf="book.canBeLoaned || book.userStatus === 'LOANED'; else waitList">
                  <ng-container *ngIf="book.userStatus === 'LOANED' else showNumberCopies">
                    <p>Tienes prestado este libro</p>
                  </ng-container>
                  <ng-template #showNumberCopies>
                    <!-- Show message 1 left -->
                    <p *ngIf="book.copiesLeft === 1; else moreThan1Copies">
                      Disponible para préstamo, hay 1 ejemplar disponible
                    </p>
                    <!-- Show message more than 1 left -->
                    <ng-template #moreThan1Copies>
                      <p>
                        Disponible para préstamo, hay
                        {{ book.copiesLeft}} ejemplares disponibles
                      </p>
                    </ng-template>
                  </ng-template>
                </ng-container>
                <!-- Show message wait list -->
                <ng-template #waitList>
                  <ng-container *ngIf="book.userStatus === 'RESERVATED' else showWaitListMessage">
                    <p>Estás en lista de espera</p>
                  </ng-container>
                  <ng-template #showWaitListMessage>
                    <p>Préstamo con lista de espera</p>
                  </ng-template>
                </ng-template>
                <p class="c-book-link" 
                (click)="showDetailsBook(book.id)">Pulse aquí para más detalles y opciones de
                  préstamo</p>
              </div>
            </td>
          </tr>
        </table>
      </div>


    </div>

  </div>

  <div class="c-book-info c-book-details" [ngClass]="{'c-book-details-active': showDetails}">
    <app-book-details *ngIf="books.length !== 0 && indexArrayBooks !== -1" [books]="books"
      [indexArrayBooks]="indexArrayBooks"
      (showDetailsCloseEvent)="showDetailsOnClose($event)" ></app-book-details>
  </div>

</div>