.c-content{

    display: flex;
}

.c-info-search, .c-warn-searching {

    margin: 15px auto;
    width: 80%;

    p { /* restart default margin */

        margin: 0;
        text-align: center;
    }
}

.c-group-field{

    display: flex;
    flex-direction: column;
    margin: 10px auto;
    align-items: center;

    label{

        color: #3d6e94;
        font-weight: 600;
    }

    .c-field{

        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 10px auto;

    }

}

.c-book-details > *{

    padding: 10px;
    justify-self: center;

}

tr:last-child .c-book-details{

    border-bottom: 1px solid #dee2e6;
}

img{

    height: 173px;
    width: 114px;
}

.c-title{

    color: #3d6e94;
    font-weight: 600;
}

.c-author{

    color: #252547;
    font-weight: 600;

}

.c-book-link{
    
    cursor: pointer;
}

.c-author-container{

    overflow: auto;
    max-height: 97px;
    height: auto;
    width: 100%;

    .c-author{

        position:relative;
        top: -2px;
        width: 100%;
        margin: 0;
        

    td:hover{

    background-color: #d7dae0;
    

    }

    }
    
}

.c-warn-searching, .c-result-table, .c-spinner {

    margin: 30px auto;
   
}

.c-result-table{

    max-height: 500px;
    overflow: auto;
}

/* For tablets and desktop */
@media (min-width: 768px){

    .c-group-field{

        flex-direction: row;
        justify-content: space-around;

            .c-field{

                align-items: center;
                width: 30%;
                margin: auto;
        
            }

    }

    .c-warn-searching p{

        width: 100%;
    }


}
