/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif";

    & .c-italic{

        font-style: italic;
    }

    & .c-bold{

        font-weight: bold;
    }

    & .c-cursor-pointer{

        cursor: pointer
    }
  }

main{

    min-height: 100vh;
    display: flex;
    flex-direction: column;

        /* Since router outlet content is rendered next to router-outlet */
        
        & > router-outlet + * {

     flex: 1 0 auto;
     display: flex;
     flex-direction: column;

    }
}

.c-generic-info-content{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 10px;
    flex-grow: 1;
    
}

.c-info-extense-content{

    margin: 30px 40px;
    line-height: 2em;
}

.c-extense-content{

    width: 100%;

}

/* For tablets and desktop*/

@media (min-width: 576px){

    .c-extense-content{

        width: 60%;
    
    }

}

app-footer{

    flex: auto;
    flex-grow: 0;
}