<div class="c-book-details-component">
    <fa-icon class="c-close" [icon]="faWindowClose" size="3x" (click)="closeDetails()">

    </fa-icon>
    <div class="c-containerInfoBook">
        <div class="c-imgBook">
            <img src='/assets/book_pictures/{{books[localIndexArrayBooks].imageUrl}}' alt="Portada no disponible">
        </div>
        <div class="c-textBook">
            <p><span class="font-weight-bold">Nombre: </span>{{books[localIndexArrayBooks].name}}</p>
            <p><span class="font-weight-bold">Escrito por: </span>{{books[localIndexArrayBooks].author.name}}</p>
            <p><span class="font-weight-bold">Formato: </span>{{books[localIndexArrayBooks].category.name}}</p>
            <p><span class="font-weight-bold">Género: </span>{{books[localIndexArrayBooks].subcategory.name}}</p>
        </div>
    </div>
    <div class="c-secondaryInfoBook">
        <p><span class="font-weight-bold">Descripción: </span>{{books[localIndexArrayBooks].description}}</p>
        <!-- Show message available for loan -->

        <ng-container *ngIf="user === null || books[localIndexArrayBooks].userStatus === undefined">

            <ng-container *ngIf="books[localIndexArrayBooks].canBeLoaned; else waitList">
                <!-- Show message 1 left -->
                <p class="c-italic c-bold" *ngIf="books[localIndexArrayBooks].copiesLeft === 1; else moreThan1Copies">
                    Disponible para préstamo, hay 1 ejemplar disponible
                </p>
                <!-- Show message more than 1 left -->
                <ng-template #moreThan1Copies>
                    <p class="c-italic c-bold">
                        Disponible para préstamo, hay
                        {{ books[localIndexArrayBooks].copiesLeft}} ejemplares disponibles
                    </p>
                </ng-template>
            </ng-container>
            <!-- Show message wait list -->
            <ng-template #waitList>
                <p #waitList>Préstamo con lista de espera</p>
            </ng-template>
        </ng-container>
        <div class="c-direction-buttons">
            <button (click)="goUpList()" [disabled]="!hasUp">↑</button>
            <button (click)="goDownList()" [disabled]="!hasDown">↓</button>
        </div>

        <p *ngIf="user === null">Necesitas iniciar sesión para pedir prestados
            libros o añadirse a la lista de espera</p>

        <ng-container
            *ngIf="books[localIndexArrayBooks].canBeLoaned && loanLimitReached === true && books[localIndexArrayBooks].userStatus !== 'LOANED'">
            <p class="c-bold c-italics">No puedes pedir prestado este libro, has alcanzado el número
                máximo de préstamos, reintenta cuando tengas menos libros prestados
            </p>
        </ng-container>

        <ng-container
            *ngIf="!books[localIndexArrayBooks].canBeLoaned 
            && reservationLimitReached === true 
            && books[localIndexArrayBooks].userStatus !== 'LOANED' &&
            books[localIndexArrayBooks].userStatus !== 'RESERVATED'">
            <p class="c-bold c-italics">No puedes entrar en lista de espera para este libro,
                has alcanzado el número máximo de reservas, cancela al menos una reserva e intenta de nuevo
            </p>
        </ng-container>

        <ng-container *ngIf="books[localIndexArrayBooks].userStatus === 'LOANED'">
            <p class="c-bold c-italics">Ya tienes prestado este libro</p>
        </ng-container>

        <ng-container *ngIf="books[localIndexArrayBooks].userStatus === 'RESERVATED'">
            <p class="c-bold c-italics">Estás en lista de espera para este libro</p>
        </ng-container>


        <ng-container *ngIf="books[localIndexArrayBooks].canBeLoaned; else waitListButton">
            <ng-container *ngIf="user!== null && books[localIndexArrayBooks].userStatus !== 'LOANED' &&
    loanLimitReached === false">
                <p>Pulse en el botón de abajo para pedir prestado este libro
                    a la biblioteca y recogerlo más tarde</p>
                <button class="btn btn-primary" (click)="addLoan(books[localIndexArrayBooks].id)">Pedir
                    prestado</button>
            </ng-container>
        </ng-container>
        <ng-template #waitListButton>
            <ng-container *ngIf="user !== null && books[localIndexArrayBooks].userStatus !== 'LOANED' &&
            books[localIndexArrayBooks].userStatus !== 'RESERVATED' && reservationLimitReached === false">
                <p>Pulse el botón de abajo para añadirse a la lista de espera,
                    recibirá una notificación una vez
                    esté disponible para confirmar el préstamo y poder recogerlo en la biblioteca
                </p> <button class="btn btn-primary" 
                (click)="addReservation(books[localIndexArrayBooks].id)">
                Añadir a lista de espera</button>
            </ng-container>
        </ng-template>
    </div>
</div>